<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <add key="SchemaLocationUserDefinedTypes" value="UserDefinedTypes"/>
    <add key="SchemaLocationUserDefinedTableTypes" value="UserDefinedTableTypes"/>
    <add key="SchemaLocationTables" value="Tables"/>
    <add key="SchemaLocationViews" value="Views"/>
    <add key="SchemaLocationStoredProcedures" value="Stored Procedures"/>
    <add key="SchemaLocationFunctions" value="Functions"/>

    <add key="LogFileName" value="log.txt"/>
    <add key="LogIsVerbose" value="true"/>
    <add key="GenerateSchemaDefinitionFiles" value="true"/>

    <!--TC config is handled by console argument overrides-->

    <!--dev settings-->
    <add key="SchemaDefinitionInputFilesLocation" value="..\..\..\Database.AdventureWorks\"/>
    <add key="SchemaDefinitionOutputFilesLocation" value="..\..\..\output\"/>
    <add key="LogFileLocation" value="..\..\..\output\"/>

    </appSettings>  
</configuration>